<html>

<body>
    <div class="wrapper">

        <header>
        </header>

        <main>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Kutuphane</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Operation" asp-action="Index">İşlemler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Öğrenci İşlemleri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Kitap İşlemleri</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


            <!--<div>

        <a asp-controller="Home" asp-action="Operations">İşlemler</a>
        <a asp-controller="Home" asp-action="StudentOperation">Öğrenci İşlemleri</a>
        <a asp-controller="Home" asp-action="BookOperation">Kitap İşlemleri</a>-->
            @*<a href="#about">Öğrenci İşlemleri</a>
        <a href="#services">Kitap İşlemleri</a>*@


            @*<a href="#contact">Kitaplık</a>
        <a href="#clients">Kitap Kategori</a>*@
            @*<a href="#contact">Yazarlar</a>*@


            @*<a href="#contact">Fakulteler</a>
        <a href="#contact">Bölümler</a>*@


            <!--</div>-->




        </main>



        <footer>
        </footer>


    </div>
</body>



</html>